@model Lifvs.Common.ApiModels.SalesModel
@using Lifvs.Common.Utility
@using Lifvs.Common.Enums
@{
    ViewBag.Title = "Store Inventories";
    var sessionUser = SessionRegistry.GetUserData();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ListJs/StoreInventory.js"></script>

<style>
    .ui-jqgrid-bdiv {
        overflow-x: hidden !important;
        max-width: 99.8%;
    }

    .ui-jqgrid .ui-jqgrid-hdiv {
        max-width: 99.8%;
    }

    .ui-jqgrid .ui-jqgrid-pager {
        max-width: 99.8%;
    }
</style>
<div class="row justify-content-md-center">
   
    <div class="col-md-12">
        <h4>@Model.StoreName </h4>
        @using (Html.BeginForm("UploadFile", "StoreInventory", FormMethod.Post, new { @id = "frmCsvUpload", enctype = "multipart/form-data", @style = "float:right;" }))
        {
            @Html.HiddenFor(m => m.StoreId)
            <input type="file" name="fileUpload" id="uploadCsvFile" />
            <input type="submit" class="btn btn-primary btn-sm" value="Upload Csv" onclick="Import();" style="margin-right:20px;" />
        }
    </div>
</div>
<br />
@if (sessionUser.RoleId == (int)Enums.Roles.SuperAdmin || sessionUser.RoleId == (int)Enums.Roles.Admin)
{
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <span style="float:right;margin-right: 1%;">
                <button type="button" id="addStoreInventory" onclick="window.location.href='@Url.Action("AddStoreInventory","StoreInventory")'" title="Add New StoreInventory" style="cursor:pointer;" class="btn btn-success btn-sm"><span style="float:right">Add Store Inventory</span></button>
                <button type="button" class="btn btn-primary btn-sm" name="btnCancel" value="Request" onclick="window.location.href='@Url.Action("Stores", "StoreInventory")'">Back</button>
            </span>
        </div>
    </div>
}
else
{
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <span style="float:right;margin-right: 6%;">
                <button type="button" class="btn btn-primary btn-sm" name="btnCancel" value="Request" onclick="window.location.href='@Url.Action("Stores", "StoreInventory")'">Back</button>
            </span>
        </div>
    </div>
}

<br />

<div class="row justify-content-md-center">
    <div class="col-md-12">
        <table id="gridStoreInventory"></table>
        <div id="pager"></div>
    </div>
</div>

<script>
    $(window).on("resize", function () {
        var $grid = $("#gridStoreInventory"),
            newWidth = $grid.closest(".ui-jqgrid").parent().width();
        $grid.jqGrid("setGridWidth", newWidth, true);
    });

    function DeleteStoreInventory() {
        var con = confirm('Are you sure you want to delete?');
        if (con == true) {
            var grid = $("#gridStoreInventory"), rowId = $(this).closest('tr.jqgrow').attr('Id');
            var cellData = grid.jqGrid('getCell', rowId, 'Id');
            var id = parseInt(cellData);
            window.location.href = '@Url.Action("DeleteStoreInventory","StoreInventory")?id=' + id;
        }
        else {
            return false;
        }
    }
    function Import() {
        //alert('Called');
        var allowedFiles = [".csv"];
        var fileUpload = $("#uploadCsvFile");
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
        if (!regex.test(fileUpload.val().toLowerCase())) {
            return false;
        }
        else {
            return true;
        }
    }
</script>


